<div class="center-block text-center" id="display-cached-image-container">

</div>

<div class="center-block image-stats">
  <div class="row">
    <div class="left col-lg-6">
      <span class="attribute">Images to cache:</span><span class="value">{{nImagesToCache}}</span>
    </div>

    <div class="right col-lg-6 text-right">
      <span class="attribute">Images successfully cached:</span><span class="value">{{nImagesCached}}</span>
    </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
       aria-valuenow="{{percentImagesCached}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentImagesCached}}%">
    Cashing Images {{percentImagesCached}}%
  </div>
</div>
